.input {
  position: relative;

  label {
    color: #999;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.2em;
    font-weight: 500;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    pointer-events: none;
  }

  input[type='text'],
  input[type='password'] {
    margin-right: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border: none;
    border-bottom: 1px solid #cdcdcd;
    padding: 0.3em 0.5em 0.2em 0.5em;
    text-decoration: none;
    outline: 0;
    line-height: 1em;
    margin: 0;
    width: 100%;
    font-size: 1.4em;
    font-weight: 400;
    color: black;
  }

  input[type='text']:focus,
  input[type='password']:focus {
    border-bottom: #00b192 2px solid;
  }

  input[type='text']:focus ~ label,
  input[type='password']:focus ~ label,
  input[type='text']:valid ~ label,
  input[type='password']:valid ~ label {
    top: -1.6rem;
    position: absolute;
    font-size: 1em;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
  }

  input:invalid:not(:focus) ~ label {
    left: 8px;
    top: 2px;
  }
}
