.landingPage {
  display: flex;
  height: 100%;

  flex-direction: column;

  justify-content: space-around;
  max-height: 559px;
}
.logoContainer {
  max-width: 375px;
  margin: 0 auto;
  text-align: center;

  img {
    max-width: 32%;
    margin: 0 auto;
  }
}

.subtext {
  text-align: center;
  color: #fff;
  margin-bottom: 0;
}
