.headline {
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 1rem;
}

.scoreItem {
  font-size: 1rem;
  text-align: center;
}

.leaderboard {
  background-color: rgba(255, 255, 255, 0.5);

  border-radius: 4px;

  padding: 10px 0;
}
