.quizHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // font-size: 1.3rem;
  padding: 16px;
  border-bottom: solid 1px skyblue;
}

.imageContainer {
  position: absolute;
  // left: 0;
  left: 0;
  right: 0;
  margin: 0 auto;

  max-width: 33%;
  img {
    width: 100%;
  }
}
