/* AnswerOption Component */

input[type='radio'] {
  position: absolute;
  width: auto;
  opacity: 0;
  display: inline-block;
  vertical-align: middle;
}

input[type='radio'] {
  &.correct {
    + label {
      filter: hue-rotate(-74deg);
    }
  }
}

input[type='radio']:checked {
  &.wrong {
    + label {
      filter: hue-rotate(180deg);
      box-shadow: none;
    }
  }

  &.correct {
    + label {
      box-shadow: none;
      filter: hue-rotate(-74deg);
    }
  }
}
