/* AnswerOption Component */
.answerOption {
  border: 1px solid blue;
  border-radius: 12px;
}

.answerOption:hover {
  background-color: #eefbfe;
}

.radioCustomButton {
  position: absolute;
  width: auto;
  opacity: 0;
}

.radioCustomButton,
.radioCustomLabel {
  display: inline-block;
  vertical-align: middle;
}

.radioCustomLabel {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 1rem 2.5rem;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.radioCustomButton ~ .radioCustomLabel:before {
  /* position: absolute;
  top: 20px;
  left: 38px;
  width: 28px;
  height: 28px;
  content: '';
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 50%;
  transition: all 0.3s; */
}

.radioCustomButton {
  &.correct {
    + label {
      filter: hue-rotate(-74deg);
    }
  }
}

.radioCustomButton:checked {
  &.wrong {
    + label {
      filter: hue-rotate(180deg);
      box-shadow: none;
    }
  }

  &.correct {
    + label {
      box-shadow: none;
      filter: hue-rotate(-74deg);
    }
  }

  /* content: '';

  background: #8bc53f url(../../svg/icon-check.svg) no-repeat;
  background-size: 27px;
  border-color: #8bc53f; */
}
