.timerContainer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0.5rem;
  left: 0;
  width: 100%;
}

.quizContainer {
  height: 100vh;
}

.answerOptions {
  margin-bottom: 1rem;
  padding: 0;
  list-style: none;
  /* margin:  */
}

.answerOptions li {
  margin-bottom: 6px;
}
