.container {
  padding: 1.5rem 1rem;
  height: 100vh;

  &:after {
    content: '';
    background: url('images/background.png') no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    opacity: 0.5;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}

// $xsmall: 600px;
// $small: 740px;
// $medium: 1024px;
// $large: 1100px;

// .homePage {
//   background: url(svg/gradient-bg.svg) no-repeat;
//   // background-size: cover;
//   background-size: 100% auto;
//   // background-position: center top;
//   background-position: center -32px;
//   transition: all 0.2s 0.2s;

//   &.top {
//     background-position: center -400px;
//     transition: all 1s 0.5s;
//   }
//   // @media screen and (min-width: $xsmall) {
//   // }
//   // @media screen and (min-width: $small) {
//   //   background-position: center -88px;
//   // }
// }
