$xsmall: 600px;
$small: 740px;
$medium: 1024px;
$large: 1100px;

.homePage {
  background: url(svg/gradient-bg.svg) no-repeat;
  // background-size: cover;
  background-size: 100% auto;
  // background-position: center top;
  background-position: center -32px;
  transition: all 0.2s 0.2s;

  &.top {
    background-position: center -400px;
    transition: all 1s 0.5s;
  }
  // @media screen and (min-width: $xsmall) {
  // }
  // @media screen and (min-width: $small) {
  //   background-position: center -88px;
  // }
}

.contentContainer {
  display: flex;

  flex-direction: column;

  justify-content: center;

  height: 100vh;

  align-items: center;
}

.circle {
  border-radius: 50%;
  text-align: center;
  width: 64px;
  height: 64px;
  background-color: #e5a1c0;

  h2 {
    line-height: 64px;
    color: white;
    text-shadow: 2px 2px black;
    text-transform: uppercase;
  }
}
