$xsmall: 600px;
$small: 740px;
$medium: 1024px;
$large: 1100px;

.homePage {
  background: url(svg/gradient-bg.svg) no-repeat;
  // background-size: cover;
  background-size: 100% auto;
  // background-position: center top;
  background-position: center -32px;
  transition: all 0.2s 0.2s;

  &.top {
    background-position: center -400px;
    transition: all 1s 0.5s;
  }
  // @media screen and (min-width: $xsmall) {
  // }
  // @media screen and (min-width: $small) {
  //   background-position: center -88px;
  // }
}

.contentContainer {
  display: flex;

  flex-direction: column;

  justify-content: space-between;

  height: 100%;
  width: 100%;
  align-items: center;

  .ctaSection {
    text-align: center;
  }

  .buttonContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
