$xsmall: 600px;
$small: 740px;
$medium: 1024px;
$large: 1100px;

.question {
  font-size: 0.8rem;
  text-align: center;
  margin: 0.5rem 0 1rem;
  min-height: 16vw;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  display: flex;

  align-items: center;

  p {
    margin-bottom: 0;
  }
  // @media screen and (min-width: $xsmall) {
  //   min-height: 64vw;
  // }
}
